/AddStaffException.class
/BranchExistedException.class
/PromotionException.class
/StaffExistedException.class
/WrongPasswordException.class
/BranchNotExistException.class
/StaffNotExistException.class
/CloseBranchException.class
/MenuException.class
/OrderException.class
